@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;


 }
 body , .container ,.content{
    display: flex;
    justify-content: center;
    align-items: center;

 }
 body{
    height: 100vh;
    background-color: rgb(101, 65, 101);
 }
 .container{
    width: 400px;
    background-color: white;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
 }
 .content{
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
 }
 .controls{
    border: 1px solid rgb(191, 186, 186);
    width: calc(100% / 2 - 5px);
    border-radius: 5px;
    outline: none;
 }
 .controls select{
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;

 }
 .container button{
    width: 100%;
    margin-top: 20px;
    border: none;
    font-size: 15px;
    background-color:rgb(101, 65, 101);
    color: white;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
 }
